language: node_js
node_js: stable
install:
- npm install
script:
- hexo g
after_script:
- cd ./public
- git init
- git config user.name "njp"
- git config user.email "297206021@qq.com"
- git add .
- git commit -m "Update docs"
- git push --force --quiet "https://${GH_TOKEN}@${GH_REF}" master:master
branches:
  only:
  - source
before_install:
- openssl aes-256-cbc -K $encrypted_7a858500971c_key -iv $encrypted_7a858500971c_iv
  -in id_rsa_blog.enc -out .travis/id_rsa_blog -d
- openssl aes-256-cbc -K $encrypted_7a858500971c_key -iv $encrypted_7a858500971c_iv
  -in id_rsa_blog.enc -out id_rsa_blog -d
